<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>All Employees</title>
</head>
<body>
    <h1>Registered Employees</h1>
    <table>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.role}"></td>
            <td th:text="${employee.salary}"></td>
        </tr>
    </table>
</body>
</html>