<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AC1 - Atividade 02</title>
</head>
<body>
    <div align="center">
        <form th:action="@{/register}" method="POST">
            <h1>Registration</h1>
            <div>
                <label>Name </label>
                <input type="text" name="name" />
                <p></p>
            </div>
            <div>
                <label>Role </label>
                <input type="text" name="role" />
                <p></p>
            </div>
            <div>
                <label>Salary </label>
                <input type="number" name="salary" />
                <p></p>
            </div>
            <!--
            <div>
                <label>Name </label>
                <input type="date" name="admission" />
            </div>
            -->
            <input type="submit"    value="Register" />
        </form>
    </div>

    <table align="center">
        <h1 align="center">Registered Employees</h1>

        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Salary</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.name}">         </td>
                <td th:text="${employee.role}">         </td>
                <td th:text="${employee.salary}">       </td>
            </tr>
        </tbody>
    </table>
</body>
</html>