<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Home</title>
</head>
<body>
    <h1 align="center">Atividade Continuada 1 - Atividade 02</h1>
    <h2 align="center">Programação Orientada a Objeto II</h2>
    <h3 align="center">Prof. Glauco Todesco</h3>
    <p align="center">Sérgio Vicente T. - RA: 183263</p>

    <div align="center">
        <p></p>
        <a href="/employee/register">Register</a>
        <a href="/employee/all">Employees</a>
    </div>
</body>
</html>