<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
</head>
<body>
    <table align="center">
        <h1 align="center">Registered Employees</h1>

        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Role</th>
                <th>Salary</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.id}">         </td>
                <td th:text="${employee.name}">         </td>
                <td th:text="${employee.role}">         </td>
                <td th:text="${employee.salary}">       </td>
            </tr>
        </tbody>
    </table>

    <div align="center">
        <p></p>
        <a href="/employee/register">Register</a>
        <a href="/employee/home">Home</a>
    </div>
</body>
</html>