<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Employee</title>
</head>
<body>
    <div align="center">
        <form action="#" th:action="@{/employee/register}" th:object="${employee}" method="POST">
            <table>
                <h1>Registration</h1>

                <tr>
                    <td>Name: </td>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                    <p></p>
                </tr>
                <tr>
                    <td>Graduation: </td>
                    <td><input type="text" th:field="*{graduation}" /></td>
                    <td th:if="${#fields.hasErrors('graduation')}" th:errors="*{graduation}">Graduation Error</td>
                    <p></p>
                </tr>
                <tr>
                    <td>Role: </td>
                    <td><input type="text" th:field="*{role}" /></td>
                    <td th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role Error</td>
                    <p></p>
                </tr>
                <tr>
                    <td>Salary: </td>
                    <td><input type="number" th:field="*{salary}" /></td>
                    <td th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Salary Error</td>
                    <p></p>
                </tr>
            </table>
            <div>
                <input type="submit" value="Register" />
            </div>
        </form>

        <p></p>
        <a href="/employee/all">Employees</a>
        <a href="/employee/home">Home</a>
    </div>
</body>
</html>